<table>
   <tr>
     <th>画像</th>
     <% if @comment.image.attached? %>
  <%= image_tag @comment.image %>
<% end %>
   </tr>
   <tr>
     <th>施設名</th>
     <td><%= @room.room_name %></td>
   </tr>
   <tr>
     <th>紹介文</th>
     <td><%= @room.details %></td>
   </tr>
   <tr>
     <th>宿泊料金</th>
     <td><%= @room.price %></td>
   </tr>
 </table>
 
 <div>
   <ul>
     <li><%= link_to "戻る", :rooms %></li>
   </ul>
 </div>